{% extends "base.html" %}

{% block content %}

<head>
  <title>{{ title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
</head>

<body>
  <div class="container">
    <h1>{{ title }}</h1>
    <h6>IP: {{ totalblacklistedip }}, Domain: {{ totalblacklisteddomain }}, Hash: {{ totalblacklistedhash }} Active
      Blacklisted</h6>
    <hr>
    <table id="data" class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>Value</th>
          <th>Added By</th>
          <th>Add Time</th>
          <th>is Passive?</th>
          <th>Modified By</th>
          <th>Modification Time</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/data',
        serverSide: true,
        columns: [
          { data: 'id' },
          { data: 'type' },
          { data: 'value' },
          { data: 'addedBy' },
          { data: 'addTime' },
          { data: 'isPassive' },
          { data: 'modifiedBy' },
          { data: 'modificationTime' },
          {
            "render": function (data, type, row) {
              return '<form name="passivebutton" method="POST"><input type="hidden" name="toggle-passive" value="' + row.id + '"><button type="submit" class="btn bg-gradient-secondary">Toggle&nbsp;Passive</button></form>';
            }
          },
          {
            "render": function (data, type, row) {
              return '<form name="delete" method="POST"><input type="hidden" name="row_id" value="' + row.id + '"><button type="submit" class="btn btn-danger">Delete</button></form>';
            }
          },
        ],
      });
    });
  </script>
</body>

{% endblock %}