{% extends "base.html" %}

{% block content %}

<head>
  <title>{{ title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
</head>

<body>
  <div class="container">
    <h1>{{ title }}</h1>
    <hr>
    <table id="data" class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Value</th>
          <th>Added By</th>
          <th>Add Time</th>
          <th>Is Passive?</th>
          <th>Modified By</th>
          <th>Modification Time</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for whitelist in whitelist %}
        <tr>
          <td>{{ whitelist.id }}</td>
          <td>{{ whitelist.value }}</td>
          <td>{{ whitelist.addedBy }}</td>
          <td>{{ whitelist.addTime }}</td>
          <td>{{ whitelist.isPassive }}</td>
          <td>{{ whitelist.modifiedBy }}</td>
          <td>{{ whitelist.modificationTime }}</td>
          <td>
            <form name="passivebutton" method="POST">
              <input type="hidden" name="toggle-passive" value="{{ whitelist.id }}">
              <button type="submit" class="btn bg-gradient-secondary">Toggle Passive</button>
            </form>
          </td>
          <td>
            <form name="delete" method="POST">
              <input type="hidden" name="row_id" value="{{ whitelist.id }}">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          { searchable: true },
          { orderable: true, searchable: true },
          null,
          { orderable: true, searchable: false },
          { orderable: true, searchable: false },
          { orderable: true, searchable: false },
          { orderable: false, searchable: false },
          { orderable: false, searchable: false },
        ],
      });

      $('#data').on('click', '.delete-row', function () {
        var row = $(this).closest('tr');
        var table = $('#data').DataTable();
        table.row(row).remove().draw();
      });
    });
  </script>
</body>

{% endblock %}